<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{home/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main-content">
<!-- ***** Banner Start ***** -->
<div class="main-banner position-relative" style="margin-top:70px;">
    <div class="container">
        <img th:src="@{/css/Bannershop.PNG}" alt="Banner" class="img-fluid w-100">
    </div>
</div>

<!--  Banner End -->
<!-- Product -->
<section class="bg0 p-t-23 p-b-140" style="margin-top:70px;">
    <div class="container">
        <div class="p-b-10">

            <h3 class="ltext-103 cl5">
                Sản Phẩm
            </h3>
        </div>
        <div class="tab-content" id="nav-tabContent" style="margin-top:50px;">
            <div class="tab-pane fade show active" id="nav-fruits" role="tabpanel" aria-labelledby="nav-fruits-tab">
                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    <div class="col"
                         th:each="product, stat : ${products}"
                         th:if="${stat.index < 8}">
                        <div class="product-item border rounded p-3 shadow-sm text-center" style="height: 280px;">
                            <figure>
                                <img th:src="${product.image}" style="height: 200px; width:200px;">
                            </figure>
                            <h5 th:text="${product.title}"></h5>
                            <div class="text-danger fw-bold">
                                [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]] đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a th:href="@{/home/homeCategory}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>
    </div>
</section>
</div>
</body>
</html>