<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách phiếu xuất kho</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="container mt-4">
        <h3>Danh sách phiếu nhập kho</h3>
        <a th:href="@{/admin/Storage-main/export-receipt-list-create}" class="btn btn-success mb-3">Tạo phiếu xuất</a>
        <div th:if="${error}" class="alert alert-danger text-center">
            <span th:text="${error}"></span>
        </div>

        <div th:if="${success}" class="alert alert-success text-center">
            <span th:text="${success}"></span>
        </div>
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Ngày xuất</th>
                <th>Người nhận</th>
                <th>Trạng thái</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${receipts}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.exportDateStr}"></td> <!-- dùng getter mới -->
                <td th:text="${r.receiver}"></td>
                <td>
                    <span th:if="${r.status == 0}" class="badge bg-warning">Chờ duyệt</span>
                    <span th:if="${r.status == 1}" class="badge bg-success">Đã xuất</span>
                </td>
                <td>
                    <form th:if="${r.status == 0}"
                          th:action="@{/admin/Storage-main/export-receipt-list-approve/{id}(id=${r.id})}"
                          method="post"
                          style="display:inline;">
                        <button type="submit"
                                class="btn btn-primary btn-sm"
                                onclick="return confirm('Xác nhận xuất kho phiếu này?')">
                            Duyệt
                        </button>
                    </form>

                    <a th:href="@{/admin/Storage-main/export-receipt-list-detail/{id}(id=${r.id})}">Chi tiet</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
