<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="container" style="margin-right:0px;">
        <div class=" text-start rounded pt-4 pb-4">
            <div style="margin-bottom: 15px; width: 100%; justify-content: flex-start;">
                <div>
                    <button class="btn btn-success mr-2">
                        <a th:href="@{/admin/Product-main/category-list-create}" style="color:black;">Add</a>
                    </button>
                </div>

        <div class="container" style="width:1200px;">
            <div class="row" style="width:1200px;">
                <table class="table table-bordered table-hover text-center align-middle mb-0" style="width: 100%;
                 table-layout: fixed;border-collapse: collapse;border-color:black; margin-top:70px; ">
                    <thead>
                    <tr >
                        <th scope="col" style="width: 4%;">ID</th>
                        <th scope="col" style="width: 10%;">Tên danh mục</th>
                        <th scope="col" style="width: 10%;">Ảnh/Image</th>
                        <th scope="col" style="width: 10%;">Trạng thái</th>
                        <th scope="col" style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td>
                            <img th:src="${category.image}" style="max-width: 100px; height: 50px;"/>
                        </td>
                        <td>
                            <span th:if="${category.status == 1}" class="badge bg-success">Đã bày bán</span>
                            <span th:unless="${category.status == 1}" class="badge bg-secondary">Chưa bày bán</span>
                        </td>
                        <td>
                            <a th:href="@{/admin/Product-main/category-list-edit(id=${category.id})}" class="btn btn-primary btn-sm">Edit</a>
                            <form method="POST" style="display:inline-block;">
                                <input type="hidden" name="_method" value="DELETE" />

                                <button type="submit"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này không?')">
                                    <a th:href="@{/admin/Product-main/delete(id=${category.id})}" style="color:black;">Delete</a>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>



<!--            <div  style="display: flex; margin-top:50px;">-->
<!--                <table class="table table-bordered table-hover text-center align-middle mb-0" style="width: 100%; margin: 0;-->
<!--             table-layout: fixed;border-collapse: collapse;border-color:black;">-->
<!--                    <thead style="text-align: center;">-->
<!--                    <tr class="text-white">-->
<!--                        <th scope="col" style="width: 5%; word-break: break-word;">ID</th>-->
<!--                        <th scope="col" style="width: 10%; word-break: break-word;">Loại</th>-->
<!--                        <th scope="col" style="width: 35%; word-break: break-word;">Mô tả</th>-->
<!--                        <th scope="col" style="width: 10%; word-break: break-word;">Chỉnh sửa</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody style="word-break: break-all;">-->
<!--                    <tr>-->
<!--                        <td style="word-break: break-word;">L01</td>-->
<!--                        <td style="word-break: break-word;">Laptop</td>-->
<!--                        <td>Paid</td>-->
<!--                        <td style="display: flex; justify-content: center; align-items: center;">-->
<!--                            <a class="btn btn-sm btn-danger" href="" style="margin-left: 5px;">Delete</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td style="word-break: break-word;">I01</td>-->
<!--                        <td style="word-break: break-word;">Điện thoại</td>-->
<!--                        <td>Paid</td>-->
<!--                        <td style="display: flex; justify-content: center; align-items: center;">-->
<!--                            <a class="btn btn-sm btn-danger" href="" style="margin-left: 5px;">Delete</a>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
     </div>
  </div>
</div>
</body>
</html>